.btn-add-favorites {
  position: absolute;
  z-index: 99999;
  right: 10px;
  top: 10px;
  border-radius: 50%;
  padding-top: 1px !important;
  width: 35px;
  height: 35px;
}

.btn-add-favorites:active {
  transform: scale(1.3) !important;
}

/* .btn-add-favorites {
  position: absolute;
  z-index: 9;
  right: 0px;
  top: 0px;
  border-radius:0  5px  0 5px;
  border: none;
  background-color: rgba(255, 0, 0, 0.26);
  padding-top: 1px !important; 
  width: 35px;
  height: 35px;
}

.btn-add-favorites:active {
  transform: scale(1.3) !important;
} */
