* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap");

:root {
  --mainFont: "Poppins", sans-serif !important;
  --mainBgColor: #cccccc80 !important;
  --primaryColor: #2e4260 !important;
}

body {
  font-family: var(--mainFont);
  background: var(--mainBgColor);
  height: 100vh;
}

.banner-section {
  background-color: #2e4260;
  padding: 95px 0;
}

.city-badge {
  font-size: 11px;
  margin-right: 4px;
}

.advertisements .advertisement {
  display: block;
  background-color: #fff;
  padding: 9px;
  border-radius: 5px;
  border-left: 3px solid #2e4260;
  margin: 0 0 15px 0;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
  cursor: pointer;
}

.advertisements .advertisement:hover {
  background-color: #2e426015;
}

/*CUSTOM*/
.btn-secondary {
  background-color: rgb(197, 197, 197);
  border: none;
  color: rgb(78, 78, 78);
}

.border-main {
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
}
