* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;900&display=swap");

:root {
  --mainFont: "Poppins", sans-serif !important;
  --mainBgColor: #cccccc80 !important;
  --primaryColor: #2e4260 !important;
}

body {
  font-family: var(--mainFont);
  background: var(--mainBgColor);
  height: 100vh;
}

header {
  height: 100px;
  width: 100vw;
  padding: 15px;
}

.header-logo {
  font-size: 22px;
}

.banner {
  /* height: 250px; */
  background-color: #2e4260;
  color: #fff;
}

.banner-container{
  padding: 65px 0;
}

.main-container{
  padding: 15px 0;
}

.main-container .caption{
  font-size: 22px;
}

.advertisement-segment{
      box-shadow: 4px 0px 0 0 var(--primaryColor)!important;
}

/*CUSTOMS*/
.border {
  border: 1px solid #e9040480;
}

.ui.label{
  margin: 4px 02px 0 0;
  font-weight: 500!important;
  background-color: transparent;
  border: 1px solid gray;
  color: #fff;
}

.p-3{
  padding: 15px;
}
.px-3{
  padding: 0 15px;
}
.py-3{
  padding: 15px 0;
}

.primary-color{
  background-color: var(--primaryColor)!important;
  color: #fff!important;
}